/* line 1, Z:/roselew.github.io-master/sass/reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
/* line 20, Z:/roselew.github.io-master/sass/reset.css */
:focus {
  outline: 0;
}

/* line 23, Z:/roselew.github.io-master/sass/reset.css */
body {
  line-height: 1;
  color: black;
}

/* line 27, Z:/roselew.github.io-master/sass/reset.css */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 31, Z:/roselew.github.io-master/sass/reset.css */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 35, Z:/roselew.github.io-master/sass/reset.css */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 39, Z:/roselew.github.io-master/sass/reset.css */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 43, Z:/roselew.github.io-master/sass/reset.css */
blockquote, q {
  quotes: "" "";
}

/* line 47, Z:/roselew.github.io-master/sass/reset.css */
button {
  border-style: none;
}

/* line 50, Z:/roselew.github.io-master/sass/reset.css */
* {
  box-sizing: border-box;
}

/* line 7, Z:/roselew.github.io-master/sass/styl.scss */
body.kid {
  background-color: #0C1A3F;
}

/* line 8, Z:/roselew.github.io-master/sass/styl.scss */
body.parent {
  background-color: #E6E8E5;
}

/* line 10, Z:/roselew.github.io-master/sass/styl.scss */
html {
  font-size: 62.5%;
}

/* line 14, Z:/roselew.github.io-master/sass/styl.scss */
a {
  text-decoration: none;
  color: inherit;
  font: 32px "Lato", sans_serif;
}

/* line 19, Z:/roselew.github.io-master/sass/styl.scss */
.parent a {
  color: #343F4B;
}

/* line 23, Z:/roselew.github.io-master/sass/styl.scss */
.kid a {
  color: white;
}

/* line 2, Z:/roselew.github.io-master/sass/_index.scss */
.index-container {
  position: relative;
  top: 30vh;
  width: 100%;
  text-align: center;
}

/* line 9, Z:/roselew.github.io-master/sass/_index.scss */
form.enter {
  display: inline-block;
}

/* line 15, Z:/roselew.github.io-master/sass/_index.scss */
.enter button {
  border-radius: 0px;
  width: 40vw;
  height: 40vh;
  font: 40px "Lato", sans_serif;
  padding-top: 250px;
  border-bottom: 10px solid #0085cc;
}

/* line 25, Z:/roselew.github.io-master/sass/_index.scss */
.enter.left {
  top: 200px;
}

/* line 28, Z:/roselew.github.io-master/sass/_index.scss */
.enter.left button {
  border-bottom-left-radius: 250px;
  border-top-left-radius: 250px;
  background: #00A6FF url(../assets/captain.svg) top 30% center no-repeat;
}

/* line 32, Z:/roselew.github.io-master/sass/_index.scss */
.enter.left button:hover {
  background-color: #E6E8E5;
  color: #343F4B;
}

/* line 37, Z:/roselew.github.io-master/sass/_index.scss */
.enter.right button {
  border-bottom-right-radius: 250px;
  border-top-right-radius: 250px;
  background: #00A6FF url(../assets/bohater.png) top 30% center no-repeat;
}

/* line 41, Z:/roselew.github.io-master/sass/_index.scss */
.enter.right button:hover {
  background-color: #142c6a;
  color: white;
}

@media (orientation: landscape) {
  /* line 48, Z:/roselew.github.io-master/sass/_index.scss */
  .enter button {
    background-size: 20vh !important;
  }
  /* line 49, Z:/roselew.github.io-master/sass/_index.scss */
  .index-container {
    top: 10vh;
  }
}

@media (orientation: portrait) {
  /* line 52, Z:/roselew.github.io-master/sass/_index.scss */
  .enter button {
    background-size: 20vw !important;
  }
  /* line 53, Z:/roselew.github.io-master/sass/_index.scss */
  .index-container {
    top: 30vh;
  }
}

/* line 56, Z:/roselew.github.io-master/sass/_index.scss */
header.index-header {
  position: relative;
  top: 150px;
  left: 0px;
  width: 100%;
  height: 400px;
}

/* line 63, Z:/roselew.github.io-master/sass/_index.scss */
header.index-header .logo {
  position: absolute;
  top: -100px;
  left: 0px;
  width: 280px;
  height: 280px;
}

/* line 71, Z:/roselew.github.io-master/sass/_index.scss */
header.index-header .header-banner {
  background-color: #0C1A3F !important;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 400px;
}

/* line 79, Z:/roselew.github.io-master/sass/_index.scss */
header.index-header .header-banner p {
  font: 142.5px "Grand Hotel", cursive;
  text-align: center;
  background-color: #00A6FF;
  padding: 20px 0px 20px 140px;
  margin-left: 140px;
  border-bottom-left-radius: 200px;
}

/* line 5, Z:/roselew.github.io-master/sass/_header.scss */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
  z-index: 1000;
}

/* line 14, Z:/roselew.github.io-master/sass/_header.scss */
header .logo {
  position: fixed;
  top: 5px;
  left: 3%;
  width: 140px;
  height: 140px;
}

/* line 22, Z:/roselew.github.io-master/sass/_header.scss */
header .header-banner {
  position: fixed;
  top: 27.5px;
  left: 0px;
  width: 100%;
  height: 95px;
  font: 100px "Grand Hotel", cursive;
  text-align: center;
  line-height: 105px;
  vertical-align: middle;
}

/* line 35, Z:/roselew.github.io-master/sass/_header.scss */
header .navigation {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* line 40, Z:/roselew.github.io-master/sass/_header.scss */
header label[for="nav"] {
  position: fixed;
  right: 45px;
  top: 45px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background-image: url(../assets/menu-button.svg);
  background-size: contain;
  z-index: 999;
}

/* line 53, Z:/roselew.github.io-master/sass/_header.scss */
header nav {
  position: fixed;
  top: 150px;
  right: 0px;
  width: 100%;
  height: 100vh;
  background-color: #E6E8E5;
}

/* line 60, Z:/roselew.github.io-master/sass/_header.scss */
header nav li {
  height: calc((100vh-$header_height)/6);
  width: 100%;
  font: 40px "Lato", sans_serif;
  line-height: 100px;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

/* line 68, Z:/roselew.github.io-master/sass/_header.scss */
header nav li a {
  display: block;
  height: 100px;
  width: 100%;
  font: 40px "Lato", sans_serif;
  line-height: 100px;
  color: white !important;
}

/* line 77, Z:/roselew.github.io-master/sass/_header.scss */
header nav .nav-main li {
  background-color: #343F4B;
}

/* line 78, Z:/roselew.github.io-master/sass/_header.scss */
header nav .nav-add li {
  background-color: #777B88;
}

/* line 82, Z:/roselew.github.io-master/sass/_header.scss */
.kid header {
  background-color: #0C1A3F;
}

/* line 84, Z:/roselew.github.io-master/sass/_header.scss */
.kid header .header-banner {
  background-color: #00A6FF;
  color: white;
}

/* line 89, Z:/roselew.github.io-master/sass/_header.scss */
.kid header label[for="navigation"] {
  display: none;
}

/* line 94, Z:/roselew.github.io-master/sass/_header.scss */
.parent header {
  background-color: #E6E8E5;
}

/* line 96, Z:/roselew.github.io-master/sass/_header.scss */
.parent header .header-banner {
  background-color: white;
  color: #00A6FF;
}

/* line 5, Z:/roselew.github.io-master/sass/_circles.scss */
li.circle-big {
  position: relative;
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-width: 10px;
  border-style: solid;
  border-radius: 200px;
  background-color: white;
  cursor: pointer;
}

/* line 18, Z:/roselew.github.io-master/sass/_circles.scss */
li.circle-big img {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 140px;
  width: 140px;
}

/* line 30, Z:/roselew.github.io-master/sass/_circles.scss */
li.circle-big .star {
  position: absolute;
  top: -30px;
  right: -40px;
  width: 100x;
  height: 100px;
}

/* line 39, Z:/roselew.github.io-master/sass/_circles.scss */
li.circle-big span {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  font: 40px "Lato", sans_serif;
}

/* line 47, Z:/roselew.github.io-master/sass/_circles.scss */
li.circle-big p {
  position: absolute;
  bottom: -116px;
  display: block;
  width: 100%;
  height: 96px;
  font: 24px "Lato", sans_serif;
  text-align: center;
}

/* line 57, Z:/roselew.github.io-master/sass/_circles.scss */
li.circle-big span.dayList {
  display: block;
  background-color: #F5F5F5;
  color: #343F4B;
  border-radius: 10px;
  font: 14px "Lato", sans_serif;
  position: relative;
  top: -10px;
  left: 0px;
  word-spacing: 3px;
  padding: 2px 0px;
}

/* line 73, Z:/roselew.github.io-master/sass/_circles.scss */
.mission-neutral li.circle-big {
  margin: 30px 3% 96px 3%;
  border-width: 5px;
}

/* line 76, Z:/roselew.github.io-master/sass/_circles.scss */
li.circle-mid {
  position: relative;
  margin: 20px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border-width: 7.5px;
  border-style: solid;
  border-radius: 150px;
  background-color: white;
  cursor: pointer;
}

/* line 90, Z:/roselew.github.io-master/sass/_circles.scss */
li.circle-mid img {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 105px;
  width: 105px;
}

/* line 102, Z:/roselew.github.io-master/sass/_circles.scss */
li.circle-mid .star {
  position: absolute;
  top: -20px;
  right: -30px;
  width: 80px;
  height: 80px;
}

/* line 111, Z:/roselew.github.io-master/sass/_circles.scss */
li.circle-mid span {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  font: 32px "Lato", sans_serif;
}

/* line 119, Z:/roselew.github.io-master/sass/_circles.scss */
li.circle-mid p {
  position: absolute;
  bottom: -116px;
  display: block;
  width: 100%;
  height: 96px;
  font: 24px "Lato", sans_serif;
  text-align: center;
}

/* line 132, Z:/roselew.github.io-master/sass/_circles.scss */
.circle-small {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 10px;
}

/* line 142, Z:/roselew.github.io-master/sass/_circles.scss */
.thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
  z-index: 500;
  border-radius: 100%;
}

/* line 151, Z:/roselew.github.io-master/sass/_circles.scss */
.thumb-down {
  left: -120%;
  background-color: #F95F62;
}

/* line 156, Z:/roselew.github.io-master/sass/_circles.scss */
.thumb-up {
  right: -120%;
  background-color: #13CE66;
}

/* line 164, Z:/roselew.github.io-master/sass/_circles.scss */
.plus {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 150px;
  width: 150px;
  z-index: 500;
  border-radius: 100%;
  background-color: #00A6FF;
  color: white;
  font: 10em "Lato", sans_serif;
  line-height: 150px;
  text-align: center;
  cursor: pointer;
}

/* line 5, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
.menu {
  position: relative;
  width: 100%;
  height: 80vh;
}

/* line 13, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
ul.menu li {
  position: absolute;
  text-align: center;
  font: 3rem "Lato", sans_serif;
  color: #0C1A3F;
  border-radius: 100%;
}

/* line 21, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
ul.menu li p {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 0px;
  z-index: 500;
}

/* line 31, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
ul.menu .menu-misje {
  background: #F95F62 url(../assets/check2.svg) top 30% center no-repeat;
  background-size: 60%;
  border-bottom: 10px solid #d34747;
  border-right: 10px solid #d34747;
}

/* line 34, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
ul.menu .menu-misje:hover {
  background-color: #d34747;
}

/* line 35, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
ul.menu .menu-odznaki {
  background: #13CE66 url(../assets/medal.svg) top 30% center no-repeat;
  background-size: 60%;
  border-bottom: 10px solid #0f9f4f;
  border-right: 10px solid #0f9f4f;
}

/* line 38, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
ul.menu .menu-odznaki:hover {
  background-color: #0f9f4f;
}

/* line 39, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
ul.menu .menu-bohater {
  background: #FFBA5C url(../assets/bohater.png) top 30% center no-repeat;
  background-size: 70%;
  border-bottom: 10px solid #ffa429;
  border-right: 10px solid #ffa429;
}

/* line 42, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
ul.menu .menu-bohater:hover {
  background-color: #ffa429;
}

/* line 43, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
ul.menu .menu-nagrody {
  background: #00A6FF url(../assets/giftbox.svg) top 30% center no-repeat;
  background-size: 50%;
  border-bottom: 10px solid #0085cc;
  border-right: 10px solid #0085cc;
}

/* line 46, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
ul.menu .menu-nagrody:hover {
  background-color: #0085cc;
}

@media (orientation: portrait) {
  /* line 49, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
  ul.menu .menu-misje {
    top: 15vw;
    left: 5vw;
    width: 30vw;
    height: 30vw;
  }
  /* line 55, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
  ul.menu .menu-odznaki {
    top: 10vw;
    left: 60vw;
    width: 35vw;
    height: 35vw;
  }
  /* line 61, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
  ul.menu .menu-bohater {
    top: 30vw;
    left: 20vw;
    width: 60vw;
    height: 60vw;
  }
  /* line 67, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
  ul.menu .menu-nagrody {
    top: 75vw;
    left: 3vw;
    width: 40vw;
    height: 40vw;
  }
}

@media (orientation: landscape) {
  /* line 76, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
  ul.menu .menu-misje {
    top: 0vw;
    left: 5vw;
    width: 20vw;
    height: 20vw;
  }
  /* line 82, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
  ul.menu .menu-odznaki {
    top: 0vw;
    left: 50vw;
    width: 25vw;
    height: 25vw;
  }
  /* line 88, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
  ul.menu .menu-bohater {
    top: 6vw;
    left: 20vw;
    width: 35vw;
    height: 35vw;
  }
  /* line 94, Z:/roselew.github.io-master/sass/_dziecko_menu.scss */
  ul.menu .menu-nagrody {
    top: 15vw;
    left: 68vw;
    width: 27vw;
    height: 27vw;
  }
}

/* line 7, Z:/roselew.github.io-master/sass/_dziecko_misje.scss */
.day-view .title {
  margin: auto;
  width: 90%;
  height: 100px;
  border-radius: 50px;
  color: white;
  font: 40px "Lato", sans_serif;
  text-align: center;
  line-height: 90px;
  margin-bottom: 40px;
  margin-top: 30px;
}

/* line 20, Z:/roselew.github.io-master/sass/_dziecko_misje.scss */
.day-view ul {
  text-align: center;
}

/* line 23, Z:/roselew.github.io-master/sass/_dziecko_misje.scss */
.day-view .left-column {
  padding-left: 5%;
  float: left;
  width: 50%;
}

/* line 27, Z:/roselew.github.io-master/sass/_dziecko_misje.scss */
.day-view .left-column .title {
  background-color: #F95F62;
}

/* line 29, Z:/roselew.github.io-master/sass/_dziecko_misje.scss */
.day-view .right-column {
  float: left;
  width: 45%;
}

/* line 32, Z:/roselew.github.io-master/sass/_dziecko_misje.scss */
.day-view .right-column .title {
  background-color: #13CE66;
}

/* line 37, Z:/roselew.github.io-master/sass/_dziecko_misje.scss */
.dayName {
  position: relative;
  margin: 30px 10% 30px 10%;
  width: 80%;
  text-align: center;
  font: 40px "Lato", sans_serif;
  line-height: 75px;
  color: white;
}

/* line 46, Z:/roselew.github.io-master/sass/_dziecko_misje.scss */
.dayName p {
  display: inline-block;
}

/* line 49, Z:/roselew.github.io-master/sass/_dziecko_misje.scss */
.dayName span {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 0px 0px;
  border-radius: 50px;
  background-color: rgba(66, 75, 100, 0.95);
  color: white;
  line-height: 75px;
  cursor: pointer;
}

/* line 60, Z:/roselew.github.io-master/sass/_dziecko_misje.scss */
.dayName span.prev {
  float: left;
}

/* line 61, Z:/roselew.github.io-master/sass/_dziecko_misje.scss */
.dayName span.next {
  float: right;
}

/* line 5, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.week {
  position: relative;
  margin: 30px 0px 30px 18%;
  width: 79%;
  text-align: center;
  font: 40px "Lato", sans_serif;
  line-height: 75px;
}

/* line 14, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.week p {
  display: inline-block;
}

/* line 17, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.week span {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 0px 0px;
  border-radius: 50px;
  color: white;
  line-height: 75px;
  cursor: pointer;
}

/* line 28, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.week span.prev {
  float: left;
}

/* line 29, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.week span.next {
  float: right;
}

/* line 32, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.parent .week {
  color: #343F4B;
}

/* line 33, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.parent .week span {
  background-color: #777B88;
}

/* line 37, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.kid .week {
  color: white;
}

/* line 38, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.kid .week span {
  background-color: rgba(66, 75, 100, 0.95);
}

/* line 46, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day {
  position: relative;
  width: 100%;
}

/* line 51, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day p {
  position: absolute;
  top: 0px;
  left: 3%;
  width: 15%;
  height: 90px;
  border-radius: 50px;
  color: white;
  font: 40px "Lato", sans_serif;
  text-align: center;
  line-height: 90px;
  cursor: pointer;
}

/* line 66, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day p span {
  font: 32px "Lato", sans_serif;
  position: absolute;
  right: 15px;
  top: 29px;
}

/* line 76, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.parent .day p {
  background-color: #777B88;
}

/* line 77, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.parent .day p.selected {
  background-color: #00A6FF;
}

/* line 81, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.kid .day p {
  background-color: rgba(66, 75, 100, 0.95);
}

/* line 82, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.kid .day p.selected {
  background-color: #00A6FF;
}

/* line 88, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day-line {
  position: relative;
  width: 79%;
  height: 90px;
  margin-left: 18%;
  margin-top: 35px;
  margin-right: 3%;
  text-align: center;
}

/* line 97, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day-line ul {
  margin-top: 12px;
  display: inline-block;
}

/* line 102, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day-line ul.small-mission-undone {
  float: left;
}

/* line 104, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day-line ul.small-mission-undone li.circle-small {
  background-color: #F95F62;
}

/* line 108, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day-line ul.small-mission-wait li.circle-small {
  background-color: #FFBA5C;
}

/* line 111, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day-line ul.small-mission-done {
  float: right;
}

/* line 113, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day-line ul.small-mission-done li.circle-small {
  background-color: #13CE66;
}

/* line 118, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day-line:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
}

/* line 129, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.kid .day-line:after {
  border-bottom: 5px solid #F5F5F5;
}

/* line 133, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.parent .day-line:after {
  border-bottom: 5px solid #777B88;
}

/* line 140, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.day-details {
  width: 82%;
  position: relative;
  margin-left: 18%;
  border-radius: 5px;
  text-align: left;
}

/* line 149, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
ul.mission-neutral li {
  border-color: #00A6FF;
}

/* line 150, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
ul.mission-neutral .star {
  fill: #00A6FF;
}

/* line 153, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
ul.mission-undone li {
  border-color: #F95F62;
}

/* line 154, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
ul.mission-undone .star {
  fill: #F95F62;
}

/* line 157, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
ul.mission-wait li {
  border-color: #FFBA5C;
}

/* line 158, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
ul.mission-wait .star {
  fill: #FFBA5C;
}

/* line 161, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
ul.mission-done li {
  border-color: #13CE66;
}

/* line 162, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
ul.mission-done .star {
  fill: #13CE66;
}

/* line 165, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.kid .day-details {
  background: rgba(66, 75, 100, 0.95);
}

/* line 169, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.parent .day-details {
  background-color: #F5F5F5;
}

/* line 177, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter {
  position: relative;
  width: 79%;
  margin: 0px 3% -35px 18%;
  text-align: left;
}

/* line 184, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter button {
  position: relative;
  display: inline-block;
  height: 80px;
  width: calc(25% - 2px);
  padding-left: 10px;
  border-radius: 0px;
  border-width: 2px;
  border-style: solid;
  background-size: 64px;
  background-position: left 20% center;
  background-repeat: no-repeat;
}

/* line 198, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-all {
  background-image: url(../assets/all_missions.svg);
  border-color: #00A6FF;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

/* line 203, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-all span {
  background-color: #00A6FF;
}

/* line 205, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-all.selected {
  background-color: #00A6FF;
}

/* line 207, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-undone {
  border-color: #F95F62;
  background-image: url(../assets/dislike.svg);
}

/* line 210, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-undone span {
  background-color: #F95F62;
}

/* line 212, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-undone.selected {
  background-color: #F95F62;
}

/* line 214, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-wait {
  border-color: #FFBA5C;
  background-image: url(../assets/hourglass.svg);
}

/* line 217, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-wait span {
  background-color: #FFBA5C;
}

/* line 219, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-wait.selected {
  background-color: #FFBA5C;
}

/* line 221, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-done {
  border-color: #13CE66;
  background-image: url(../assets/like.svg);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* line 226, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-done span {
  background-color: #13CE66;
}

/* line 228, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter .show-done.selected {
  background-color: #13CE66;
}

/* line 231, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter span {
  position: absolute;
  right: 20%;
  bottom: 11px;
  height: 55px;
  width: 55px;
  color: white;
  border-radius: 50px;
  font: 32px "Lato", sans_serif;
  line-height: 50px;
}

/* line 244, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.filter img.hero {
  width: 20%;
  position: absolute;
  left: -22%;
  bottom: 0px;
  z-index: 500;
}

/* line 254, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.parent .filter button {
  background-color: #E6E8E5;
}

/* line 255, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.parent .filter img.hero {
  display: none;
}

/* line 259, Z:/roselew.github.io-master/sass/_postepy_odznaki.scss */
.kid .filter button {
  background-color: #0C1A3F;
}

/* line 5, Z:/roselew.github.io-master/sass/_progress_bar.scss */
.progress {
  position: relative;
  height: 50px;
  width: 79%;
  margin: 10px 3% 0px 18%;
}

/* line 11, Z:/roselew.github.io-master/sass/_progress_bar.scss */
.progress .progress-undone {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  border-radius: 20px 0px 0px 20px;
  border-radius: 20px;
}

/* line 21, Z:/roselew.github.io-master/sass/_progress_bar.scss */
.progress .progress-wait {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  border-radius: 20px 0px 0px 20px;
  border-radius: 20px;
}

/* line 30, Z:/roselew.github.io-master/sass/_progress_bar.scss */
.progress .progress-done {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  border-radius: 20px 0px 0px 20px;
  border-radius: 20px;
  background-color: #00A6FF;
}

/* line 40, Z:/roselew.github.io-master/sass/_progress_bar.scss */
.progress .logo {
  position: absolute;
  right: -5px;
  top: -17.5px;
  width: 85px;
  height: 85px;
}

/* line 51, Z:/roselew.github.io-master/sass/_progress_bar.scss */
.parent .progress .progress-wait {
  background: repeating-linear-gradient(45deg, #00A6FF, #00A6FF 10px, #777B88 10px, #777B88 20px);
}

/* line 61, Z:/roselew.github.io-master/sass/_progress_bar.scss */
.parent .progress .progress-undone {
  background-color: #777B88;
}

/* line 65, Z:/roselew.github.io-master/sass/_progress_bar.scss */
.kid .progress .progress-wait {
  background: repeating-linear-gradient(45deg, #00A6FF, #00A6FF 10px, rgba(66, 75, 100, 0.95) 10px, rgba(66, 75, 100, 0.95) 20px);
}

/* line 74, Z:/roselew.github.io-master/sass/_progress_bar.scss */
.kid .progress .progress-undone {
  background-color: rgba(66, 75, 100, 0.95);
}

/* line 1, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 0px;
  color: #343F4B;
  background-color: rgba(245, 245, 245, 0.95);
  font: 40px "Lato", sans_serif;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

/* line 18, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit span.X, .edit span.showMore {
  position: absolute;
  display: block;
  right: 20px;
  top: 10px;
  width: 80px;
  height: 80px;
  z-index: 100;
  border-radius: 80px;
  background-color: #00A6FF;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  cursor: pointer;
}

/* line 35, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit ul {
  position: relative;
  height: 240px;
  overflow: hidden;
  padding-right: 40px;
}

/* line 40, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit ul li {
  margin-bottom: 80px;
}

/* line 43, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit h2 {
  font: 32px "Lato", sans_serif;
  padding: 20px;
  background-color: rgba(220, 220, 220, 0.5);
}

/* line 55, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit .newMissionForm input[type="radio"] {
  display: none;
}

/* line 56, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit .newMissionForm input[type="checkbox"] {
  display: none;
}

/* line 60, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit .newMissionForm input[name='newMissionType'] + label {
  display: inline-block;
  margin-top: 20px;
  width: 40%;
  height: 100px;
  border: 2px solid #00A6FF;
  color: #777B88;
  font: 32px "Lato", sans_serif;
  line-height: 100px;
  cursor: pointer;
}

/* line 72, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit .newMissionForm input[name='newMissionType']:checked + label {
  background-color: #00A6FF;
  color: white;
}

/* line 77, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit .newMissionForm #givenDays + label {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right: none;
}

/* line 83, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit .newMissionForm #anyDays + label {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

/* line 88, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit .newMissionForm p {
  font: 32px "Lato", sans_serif;
  margin-top: 40px;
}

/* line 95, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit .newMissionForm input[name='newMissionDays'] + label {
  display: inline-block;
  width: 10.57143%;
  margin-top: 40px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  height: 100px;
  border: 2px solid #00A6FF;
  border-radius: 20px;
  color: #777B88;
  font: 32px "Lato", sans_serif;
  cursor: pointer;
  text-align: center;
  line-height: 100px;
}

/* line 111, Z:/roselew.github.io-master/sass/_rodzic_misje.scss */
.edit .newMissionForm input[name='newMissionDays']:checked + label {
  background-color: #00A6FF;
  color: white;
}

/* line 47, Z:/roselew.github.io-master/sass/styl.scss */
input {
  height: 100px;
  font: 32px "Lato", sans_serif;
  line-height: 100px;
  vertical-align: middle;
  border: 2px solid #00A6FF;
  text-align: center;
}

/* line 56, Z:/roselew.github.io-master/sass/styl.scss */
input[type='text'], input[type='password'] {
  display: block;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
}

/* line 64, Z:/roselew.github.io-master/sass/styl.scss */
input[type='number'] {
  display: inline-block;
  width: 40%;
}

/* line 68, Z:/roselew.github.io-master/sass/styl.scss */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* line 73, Z:/roselew.github.io-master/sass/styl.scss */
span.less, span.more {
  display: inline-block;
  width: 20%;
  height: 100px;
  font: 70px "Lato", sans_serif;
  vertical-align: middle;
  line-height: 100px;
  color: white;
  border: 2px solid #00A6FF;
  background-color: #00A6FF;
  cursor: pointer;
}

/* line 85, Z:/roselew.github.io-master/sass/styl.scss */
span.less {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

/* line 89, Z:/roselew.github.io-master/sass/styl.scss */
span.more {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

/* line 95, Z:/roselew.github.io-master/sass/styl.scss */
button {
  background-color: #00A6FF;
  color: white;
  padding: 30px;
  width: 80%;
  margin: 50px auto;
  font: 40px "Lato", sans_serif;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

/* line 105, Z:/roselew.github.io-master/sass/styl.scss */
button:disabled {
  background-color: #777B88;
}

/* line 108, Z:/roselew.github.io-master/sass/styl.scss */
button:hover {
  background-color: #006499;
}

/* line 114, Z:/roselew.github.io-master/sass/styl.scss */
input[type=checkbox] {
  margin-top: 10px;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 2px solid #00A6FF;
}

/* line 123, Z:/roselew.github.io-master/sass/styl.scss */
input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  text-align: left;
  font: 32px "Lato", sans_serif;
  width: 70%;
  vertical-align: bottom;
}

/* line 133, Z:/roselew.github.io-master/sass/styl.scss */
.parent label {
  color: #343F4B;
}

/* line 137, Z:/roselew.github.io-master/sass/styl.scss */
.kid label {
  color: white;
}

/* line 144, Z:/roselew.github.io-master/sass/styl.scss */
.container {
  position: relative;
  width: 100%;
  top: 150px;
  left: 0px;
  text-align: center;
}

/* line 152, Z:/roselew.github.io-master/sass/styl.scss */
.container .alert {
  position: fixed;
  display: block;
  top: 150px;
  left: 0px;
  width: 100%;
  height: 100vh;
  color: white;
  font: 40px "Lato", sans_serif;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  z-index: 499;
}

/* line 167, Z:/roselew.github.io-master/sass/styl.scss */
.container .alert p {
  margin-top: 40vh;
}

/* line 171, Z:/roselew.github.io-master/sass/styl.scss */
.container .alert span {
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #00A6FF;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  cursor: pointer;
}

/* line 188, Z:/roselew.github.io-master/sass/styl.scss */
.container .alert img {
  width: 150px;
  height: 150px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 203, Z:/roselew.github.io-master/sass/styl.scss */
.parent .alert {
  background-color: rgba(119, 123, 136, 0.95);
}

/* line 207, Z:/roselew.github.io-master/sass/styl.scss */
.kid .alert {
  background-color: rgba(66, 75, 100, 0.95);
}

/*# sourceMappingURL=../css/styl.map */