html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

* {
  box-sizing: border-box;
}

body.kid {
  background-color: #0C1A3F;
}

body.parent {
  background-color: #E6E8E5;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 150px;
  z-index: 1000;
}

header .logo {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  background-color: #00A6FF;
  color: white;
  font: 90px "Grand Hotel", cursive;
  text-align: center;
  cursor: pointer;
  line-height: 120px;
}

header .header-banner {
  position: fixed;
  top: 27.5px;
  left: 0px;
  width: 100%;
  height: 95px;
  font: 90px "Grand Hotel", cursive;
  text-align: center;
  line-height: 95px;
  vertical-align: middle;
}

header .navigation {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

header label[for="navigation"] {
  position: fixed;
  right: 45px;
  top: 45px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background-image: url(../assets/menu-button.svg);
  background-size: contain;
  z-index: 999;
}

.kid header {
  background-color: #0C1A3F;
}

.kid header .header-banner {
  background-color: #00A6FF;
  color: white;
}

.kid header label[for="navigation"] {
  display: none;
}

.parent header {
  background-color: #E6E8E5;
}

.parent header .header-banner {
  background-color: white;
  color: #00A6FF;
}

.container {
  position: relative;
  width: 100%;
  top: 150px;
  left: 0px;
}

.container .alert {
  position: fixed;
  display: block;
  top: 150px;
  left: 0px;
  width: 100%;
  height: 100vh;
  color: white;
  font: 40px "Lato", sans_serif;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  z-index: 499;
}

.container .alert p {
  margin-top: 40vh;
}

.container .alert span {
  position: absolute;
  display: block;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #00A6FF;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  cursor: pointer;
}

.container .alert img {
  width: 150px;
  height: 150px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.parent .alert {
  background-color: rgba(119, 123, 136, 0.95);
}

.kid .alert {
  background-color: rgba(66, 75, 100, 0.95);
}

.week {
  position: relative;
  margin: 10px 0px 30px 0px;
  width: 100%;
  text-align: center;
  font: 40px "Lato", sans_serif;
}

.week p {
  display: inline-block;
}

.week span {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 0px 10%;
  border-radius: 50px;
  background-color: rgba(66, 75, 100, 0.95);
  color: white;
  line-height: 75px;
  cursor: pointer;
}

.parent .week {
  color: #343F4B;
}

.kid .week {
  color: white;
}

.progress {
  position: relative;
  height: 50px;
  width: 75%;
  margin: 10px 0px 50px 18%;
}

.progress .progress-undone {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  border-radius: 20px 0px 0px 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.progress .progress-wait {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80%;
  height: 50px;
  border-radius: 20px 0px 0px 20px;
}

.progress .progress-done {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60%;
  height: 50px;
  border-radius: 20px 0px 0px 20px;
  background-color: #00A6FF;
}

.progress .logo {
  position: absolute;
  right: -60px;
  top: -10px;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  background-color: #00A6FF;
  color: white;
  font: 40px "Grand Hotel", cursive;
  text-align: center;
  line-height: 70px;
}

.parent .progress .progress-wait {
  background: repeating-linear-gradient(45deg, #00A6FF, #00A6FF 10px, #777B88 10px, #777B88 20px);
}

.parent .progress .progress-undone {
  background-color: #777B88;
}

.kid .progress .progress-wait {
  background: repeating-linear-gradient(45deg, #00A6FF, #00A6FF 10px, rgba(66, 75, 100, 0.95) 10px, rgba(66, 75, 100, 0.95) 20px);
}

.kid .progress .progress-undone {
  background-color: rgba(66, 75, 100, 0.95);
}

.filter {
  position: relative;
  width: 82%;
  margin-left: 18%;
  margin-bottom: 35px;
  text-align: left;
}

.filter button {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 24%;
  padding-left: 10px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  background-size: 64px;
  background-position: left 20% center;
  background-repeat: no-repeat;
}

.filter .show-all {
  background-image: url(../assets/all_missions.svg);
  border-color: #00A6FF;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.filter .show-all span {
  background-color: #00A6FF;
}

.filter .show-undone {
  border-color: #F95F62;
  background-image: url(../assets/dislike.svg);
}

.filter .show-undone span {
  background-color: #F95F62;
}

.filter .show-wait {
  border-color: #FFBA5C;
  background-image: url(../assets/hourglass.svg);
}

.filter .show-wait span {
  background-color: #FFBA5C;
}

.filter .show-done {
  border-color: #13CE66;
  background-image: url(../assets/like.svg);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.filter .show-done span {
  background-color: #13CE66;
}

.filter span {
  position: absolute;
  right: 20%;
  bottom: 11px;
  height: 55px;
  width: 55px;
  color: white;
  border-radius: 50px;
  font: 32px "Lato", sans_serif;
  line-height: 50px;
}

.filter img.hero {
  width: 20%;
  position: absolute;
  left: -22%;
  bottom: 0px;
  z-index: 500;
}

.parent .filter button {
  background-color: #E6E8E5;
}

.parent .filter img.hero {
  display: none;
}

.kid .filter button {
  background-color: #0C1A3F;
}

.day {
  position: relative;
  width: 100%;
}

.day p {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18%;
  height: 90px;
  border-radius: 50px;
  color: white;
  font: 40px "Lato", sans_serif;
  text-align: center;
  line-height: 90px;
  cursor: pointer;
}

.day p span {
  font: 32px "Lato", sans_serif;
  position: absolute;
  right: 15px;
  top: 29px;
}

.parent .day p {
  background-color: #777B88;
}

.kid .day p {
  background-color: rgba(66, 75, 100, 0.95);
}

.day-line {
  position: relative;
  width: 82%;
  height: 90px;
  margin-left: 18%;
  margin-top: 35px;
  text-align: center;
}

.day-line ul {
  margin-top: 12px;
  display: inline-block;
}

.day-line ul.small-mission-undone {
  float: left;
}

.day-line ul.small-mission-undone li.circle-small {
  background-color: #F95F62;
}

.day-line ul.small-mission-wait li.circle-small {
  background-color: #FFBA5C;
}

.day-line ul.small-mission-done {
  float: right;
}

.day-line ul.small-mission-done li.circle-small {
  background-color: #13CE66;
}

.day-line:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
}

.kid .day-line:after {
  border-bottom: 5px solid white;
}

.parent .day-line:after {
  border-bottom: 5px solid #777B88;
}

.day-details {
  width: 82%;
  position: relative;
  margin-left: 18%;
  border-radius: 5px;
}

.day-details ul.mission-neutral li {
  border-color: #00A6FF;
}

.day-details ul.mission-neutral .star {
  fill: #00A6FF;
}

.day-details ul.mission-undone li {
  border-color: #F95F62;
}

.day-details ul.mission-undone .star {
  fill: #F95F62;
}

.day-details ul.mission-wait li {
  border-color: #FFBA5C;
}

.day-details ul.mission-wait .star {
  fill: #FFBA5C;
}

.day-details ul.mission-done li {
  border-color: #13CE66;
}

.day-details ul.mission-done .star {
  fill: #13CE66;
}

.kid .day-details {
  background: rgba(66, 75, 100, 0.95);
}

.parent .day-details {
  background-color: white;
}

.circle-big {
  position: relative;
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-width: 10px;
  border-style: solid;
  border-radius: 200px;
  background-color: white;
  cursor: pointer;
}

li.circle-mid {
  position: relative;
  margin: 20px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border-width: 7.5px;
  border-style: solid;
  border-radius: 150px;
  background-color: white;
  cursor: pointer;
}

li.circle-mid img {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 105px;
  width: 105px;
}

li.circle-mid .star {
  position: absolute;
  top: -20px;
  right: -30px;
  width: 80px;
  height: 80px;
}

li.circle-mid span {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  font: 32px "Lato", sans_serif;
}

.circle-small {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 10px;
}

.thumb {
  position: absolute;
  top: -10px;
  height: 150px;
  width: 150px;
  padding: 10px;
  z-index: 500;
  border-radius: 150px;
}

.thumb-down {
  left: -200px;
  background-color: #F95F62;
}

.thumb-up {
  left: 180px;
  background-color: #13CE66;
}
