.circles {
	border-radius: 100%;
	position: fixed;
}




body.kid{
	.circles{background-color: transparentize(lighten($color_back_kid,15%),0.5)}

	&.title-page {
		.circle1 {background-color: $color_wait;}
		.circle2 {background-color: mix($color_wait, $color_done)}
		.circle3 {background-color:  $color_done;}
		.circle4 {background-color:  lighten(mix($color_base,$color_done),15%);}
		.circle5 {background-color:  lighten($color_base,15%);}
		.circle6 {background-color:  $color_base;}
		.circle7 {background-color:  mix($color_base, $color_back_kid);}
		.circle8 {background-color: $color_done;}
		.circle9 {background-color: $color_undone;}
		.circle10 {background-color: $color_base;}
	}
}

body.parent{
	.circles{background-color: transparentize(darken($color_back_parent,15%),0.5)};

	&.title-page {
		background-color: darken($color_back_parent,30%);
		.circle1 {background-color: mix($color_back_parent, $color_base,70%)};
		.circle2 {background-color: mix($color_back_parent, $color_base,60%)};
		.circle3 {background-color: mix($color_back_parent, $color_base,50%)};
		.circle4 {background-color: darken(mix($color_back_parent, $color_done,70%),10%);}
		.circle5 {background-color: mix($color_back_parent, $color_done,70%)};
		.circle6 {background-color: darken($color_back_parent,10%);}
		.circle7 {background-color:  darken($color_back_parent,20%);}
	}
}

@media (orientation: portrait){  
    .circle1{
        left: 25vw;
        top: calc(50vh - 25vw); 
        width: 50vw;
        height: 50vw;
	}
	.circle2{
		left: 20vw;
		top: calc(50vh - 30vw); 
		width: 60vw;
		height: 60vw;	
	}

	.circle3{
		left: 20vw;
		top: calc(50vh - 30vw); 
		width: 70vw;
		height: 70vw;
	}

	.circle4{
		right: 20vw;
		top: calc(50vh - 40vw); 
		width: 70vw;
		height: 70vw;
	}

	.circle5{
		left: 5vw;
		top: calc(50vh - 45vw); 
		width: 90vw;
		height: 90vw;
	}

	.circle6{
		left: -5vw;
		top: calc(50vh - 55vw); 
		width: 110vw;
		height: 110vw;
	}

	.circle7{
		left: -10vw;
		top: calc(50vh - 60vw); 
		width: 120vw;
		height: 120vw;
	}
	.circle8{
		left: 2vw;
		top: calc(50vh + 25vw - 13vw); 
		width: 40vw;
		height: 40vw;
	}

	.circle9{
		right: 2vw;
		top: calc(50vh + 25vw - 20vw); 
		width: 32vw;
		height: 32vw;
	}

	.circle10{
		right: 10vw;
		top: calc(50vh - 50vw + 3vw); 
		width: 35vw;
		height: 35vw;
	}
}

@media (orientation: landscape){  
    .circle1{
        left: calc(50vw - 25vh);
		top: 25vh;
        width: 50vh;
        height: 50vh;
	};

	.circle2{
		left: calc(50vw - 30vh); 
		top: 20vh;
		width: 60vh;
		height: 60vh;	
	}

	.circle3{
		left: calc(50vw - 30vh);
		top: 20vh; 
		width: 70vh;
		height: 70vh;
	}

	.circle4{
		left: calc(50vw - 40vh); 
		bottom: 20vh;
		width: 70vh;
		height: 70vh;
	}

	.circle5{
		left: calc(50vw - 45vh); 
		top: 5vh;
		width: 90vh;
		height: 90vh;
	}

	.circle6{
		left: calc(50vw - 55vh); 
		top: -5vh;
		width: 110vh;
		height: 110vh;
	}

	.circle7{
		left: calc(50vw - 60vh); 
		top: -10vh;
		width: 120vh;
		height: 120vh;
	}

	.circle8{
		right: calc(50vw + 25vh - 8vh); 
		bottom: 10vh; 
		width: 40vh;
		height: 40vh;
	}

	.circle9{
		left: calc(50vw + 25vh - 15vh); 
		bottom: 5vh;
		width: 32vh;
		height: 32vh;
	}

	.circle10{
		right: calc(50vw - 50vh - 3vh ); 
		top: 18vh;
		width: 35vh;
		height: 35vh;
	}
}
