// ----- CIRCLES ------

//@import '_zmienne';

li.circle-big {
	position: relative;
	margin: 2.0rem;
	display: inline-block;	
	height: $mission_big_size;
	width: $mission_big_size;
	border-width: $mission_big_size/20;
	border-style: solid;
	border-radius: $mission_big_size;
	background-color: white;
	&:hover{background-color: lighten($color_base,30%);}
	cursor: pointer;

	// mission icon
	img{
		position: absolute;
		margin: auto;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height:0.7*$mission_big_size;
		width: 0.7*$mission_big_size;
	}

	//star - background for points
	.star {
		position: absolute;
		top:-3.0rem;
		right:-4.0rem;
		width: 10.0rem;
		height: 10.0rem;
	}

	// number of points for mission
	span{
		position: absolute;
		top:0px;
		right:0px;
		color:white;
		font: $font_big_size $font_reg_family;
	}

	p{
		position: absolute;
		bottom:-$font_mid_size*3-2.0rem;
		left: -20%;
		display: block;
		width: 140%;
		height: $font_mid_size*3;
		font: $font_mid_size $font_reg_family;
		text-align: center;
	}

	span.dayList{
		display:block;
		width: 100%;
		background-color: $color_light_grey;
		color:$color_text_parent;
		border-radius: 10px;
		font: $font_mini_size $font_reg_family;
		position: relative;
		top:-1.0rem;
		left:0px;
		word-spacing: 3px;
		padding: 4px 0px;
	}
	
}

//space for name of mission
.mission-neutral li.circle-big {margin: 4.0rem 4% $font_mid_size*5 4%; border-width: 5px;}


li.circle-mid {
	position: relative;
	margin: 20px;
	display: inline-block;	
	height: $mission_mid_size;
	width: $mission_mid_size;

	border-width: $mission_mid_size/20;
	border-style: solid;
	border-radius: $mission_mid_size;
	background-color: white;
	cursor: pointer;

	&:hover{background-color: lighten($color_base,30%);}

	// mission icon
	img{
		position: absolute;
		margin: auto;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height:0.7*$mission_mid_size;
		width: 0.7*$mission_mid_size;
	}

	//star - background for points
	.star {
		position: absolute;
		top:-2.0rem;
		right:-3.0rem;
		width: 8.0rem;
		height: 8.0rem;
	}

	// number of points for mission
	span{
		position: absolute;
		top:0px;
		right:0px;
		color:white;
		font: $font_mid_size $font_reg_family;
	}

	p{
		position: absolute;
		bottom:-$font_mid_size*3-2.0rem;
		display: block;
		width: 100%;
		height: $font_mid_size*3;
		font: $font_small_size $font_reg_family;
		text-align: center;

	}

}

.circle-small {
	display:inline-block;
	height: $mission_small_size;
	width: $mission_small_size;
	border-radius: $mission_small_size;
	margin: 10px;
}

// ----- THUMBS to move missions UP or DOWN ----

.thumb {
	position: absolute;
	height: 100%;
	width: 100%;
	padding:10px;
	z-index: 500;

	border-radius: 100%;
}
.thumb-down {
	left: - 120% ;
	background-color: $color_undone;
}

.thumb-up {
	right: - 120% ;
	background-color: $color_done;
}	


// ADD new ITEM

.plus {
	position: fixed;
	bottom: 10px;
	right: 10px;
	height: $mission_mid_size;
	width: $mission_mid_size;
	z-index: 500;

	border-radius: 100%;
	background-color: $color_base;
	color: white;
	font: 10em $font_reg_family;
	line-height: $mission_mid_size;
	text-align: center;
	cursor: pointer;
}