// ---- MISJE CLASS ------

//@import '_zmienne';

.day-view {

	.title {
		margin:auto;
		width: 90%;
		height: 100px;
		border-radius: 30px;
		color: $color_text_kid;
		font: $font_big_size $font_reg_family;
		text-align: center;
		line-height: $day_height;
		margin-bottom: 40px;
		margin-top:30px;
	}

	ul {
		text-align: center;
	}
	.left-column {
		padding-left: 5%;
		float:left;
		width:50%;
		.title {background-color: $color_undone}
	}
	.right-column {
		float:left;
		width:45%;
		.title {background-color: $color_done}
	}

}

.dayName {
	position: relative;
	margin: 30px 10% 30px 10%;
	width: 80%;
	text-align: center;	
	font: $font_big_size $font_reg_family; 
	line-height: 1.5*$mission_small_size;
	color: $color_text_kid;
	//week name
	p{ display: inline-block;
	}
	//buttons previous and next week
	span{
		display: inline-block;
		width: 1.5*$mission_small_size;
		height: 1.5*$mission_small_size;
		margin: 0px 0px;
		border-radius: $mission_small_size;
		background-color: $color_alert;
		color: white;
		line-height: 1.5*$mission_small_size;
		cursor: pointer;
	}	
	span.prev {float:left}
	span.next {float:right}
}
