// ---- MENU kid CLASS ------

//@import '_zmienne';

.menu {
	position: relative;
	width: 100%;
	height: 80vh;
}

ul.menu {

	li {
	// position: absolute;
	text-align: center;
	font: 4rem $font_title_family;
	color: $color_back_kid;
	border-radius: 100%;
	border: 3px white solid;
	

		p{
			display: inline-block;
			width: 100%;
			position: absolute;
			bottom: 10%;
			left: 0px;
			z-index:500;
		}
	}

	.menu-misje {background: url(../assets/check2.svg) top 30% center no-repeat; background-size: 60%;
		&:hover{background-color: darken($color_undone,10%);}}}
	.menu-odznaki {background: url(../assets/medal.svg) top 30% center no-repeat; background-size: 60%;
		&:hover{background-color: darken($color_done,10%);}}
	.menu-bohater{background: url(../assets/bohater.png) top 30% center no-repeat; background-size: 40%;
		&:hover{background-color: darken($color_wait,10%);}}
	.menu-nagrody{background: url(../assets/giftbox.svg) top 30% center no-repeat; background-size: 50%;
		&:hover{background-color: darken($color_base,10%);}}

	