//----- HEADER --------

//@import '_zmienne';

header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: $header_height;
	z-index: 1000;
	
	//to change with real logo image
	.logo {
		position: fixed;
		top: 0px;
		left: $odznaki_right;
		height: $header_logo_size;
		//transition:2s ease-in-out ;
	}

	.header-banner {
		position: fixed;
		top: ($header_height - $header_banner_height)/2;
		left: 0px;
		width: 100%;
		height: $header_banner_height;
		
		font: $font_title_size $font_title_family;
		text-align: center;
		line-height: $header_banner_height+1.0rem;
		vertical-align: middle;
	}

	label[for="nav"] {
	  position: fixed;
	  right: ( $header_height - $header_hamburger_size ) / 2;
	  top:  ( $header_height - $header_hamburger_size ) / 2;
	  height: $header_hamburger_size;
	  width: $header_hamburger_size;

	  cursor: pointer;
	  background-image: url(../assets/menu-button.svg);
	  background-size: contain;
	  z-index: 999;
	}

	nav{
		position: fixed;
		top: $header_height;
		right:0px;
		width: 100%;
		height: 100vh;
		background-color: $color_back_parent;
		li{
			display:block;
			height: 9vh;
			width: 100%;
			font: $font_big_size $font_reg_family;
			line-height: 9vh; 
			color: white;
			text-align: center;
			margin-bottom: 5px;
		}
		a{	
			display:block;
			height: 9vh;
			width: 100%;
			font: $font_big_size $font_reg_family;
			line-height: 9vh;
			color: white !important; 
		}
		.nav-main li {	background-color: $color_text_parent;}
		.nav-add li { background-color: $color_dark_grey}
	}
}

.kid header{
	//background-color: $color_back_kid;
	.header-banner {
		//background-color: mix($color_base,$color_back_kid);
		background-color: $color_base;
		color: $color_text_kid;
		//text-shadow: 0 0 10px $color_back_kid;//@include stroke(3,$color_back_kid);		
	}
	label[for="navigation"] {
		display:none;
	}
}

.kid.title-page header {
	
	.header-banner {
		//background-color: mix($color_base,$color_back_kid);
		background-color: white;
		color: $color_base;
		width: 80%;
		left: 10%;
		border-radius: 30px;


		//text-shadow: 0 0 10px $color_back_kid;//@include stroke(3,$color_back_kid);		
	}
}
.parent header{
	//background-color: $color_back_parent;
	.header-banner {
		background-color: white;
		color: $color_base;
	}
}

