// large header baner
.index-banner{
	position: relative;
	top: 15vw;;
	left: 0px;
	width: 100%;
	text-align: center;
	

	.logo {
		position: absolute;
		top: -15vw;
		left: 40vw;
		width: 20vw;
		height: 20vw;
	}

	h1{
		font: 13.0rem $font_title_family;
		text-align: left;
		background-color: $color_back_kid;
		padding: 20px 0px 20px 1.2*$header_logo_size;
		margin-left: $header_logo_size;
		margin-right: 5%;
		margin-bottom: 20.0rem;
		border-bottom-left-radius: 20.0rem;
		border-top-right-radius: 20.0rem;
		color: $color_text_kid;
		border: 3px white solid;
	}
}	

.index-container {
	position: relative;
	text-align: center;

	form.enter {
		display: inline-block;

		button {
			width: 40vw;
			margin: 3vw;
			border: 3px white solid;
		}
		&.left button { 
			background-color: $color_undone;
			&:hover{background-color: $color_back_parent; color: $color_text_parent;}
		}
		&.right button { 
			background-color: $color_done;
			&:hover{background-color: lighten($color_back_kid,10%); color: $color_text_kid;}
		}
	}
}

//two buttons to enter kids and parents parts

// @media (orientation: landscape){
// 	.enter {button {background-size: 20vh !important;}}
// 	// .index-container{top: 10vh;}
// }
// @media (orientation: portrait){
// 	.enter {button {background-size: 20vw !important;}}
// 	// .index-container{top: 30vh;}
// }


