//@import '_zmienne';

// ------- WEEK --------

.week {
	position: relative;
	margin: 30px 0px 30px $odznaki_left;
	width: (100% - $odznaki_left - $odznaki_right);
	text-align: center;	
	font: $font_big_size $font_reg_family; 
	line-height: 1.5*$mission_small_size;

	//week name
	a{ 	display: inline-block;
		font: $font_big_size $font_reg_family; 
	}
	//buttons previous and next week
	span{
		font: $font_title_size $font_title_family; 
		display: inline-block;
		width: 1.5*$mission_small_size;
		height: 1.5*$mission_small_size;
		margin: 0px;
		border-radius: $mission_small_size;
		color: white;
		line-height:  1.5*$mission_small_size;
		cursor: pointer;
	}	
	span.prev {float:left}
	span.next {float:right}
}

.parent .week{
	span {color:$color_text_parent};
	span:hover {background-color: $color_dark_grey;color:white}
	a{color:$color_text_parent;}
}

.kid .week{
	span:hover {background-color: $color_alert;}
	a{color: $color_text_kid;}
}



// -----  DAY  ------

.day{
	position: relative;
	width: 100%;

	//button with day name
	p{
		position: absolute;
		top:0px;
		left:$odznaki_right;
		width: ($odznaki_left - $odznaki_right);
		height: $day_height;

		border-radius: 50px;
		color: $color_text_kid;
		font: $font_big_size $font_reg_family;
		text-align: center;
		line-height: $day_height;
		cursor: pointer;
		padding-right: 20px;

		
		//small arrow down/up
		span{

			font: $font_small_size $font_reg_family;
			line-height: $day_height/2;
			position: absolute;
			right: 15px;
			top: $day_height/2 - $font_mid_size/2;
		}	
	}
}

.parent .day{
	p {	background-color: $color_dark_grey;
		&:hover{background-color: rgba($color_base,0.5);}
	}
	p.selected {background-color: $color_base}
}

.kid .day{
	p {	background-color: $color_alert;
		&:hover{background-color: rgba($color_base,0.5);}
	}
	p.selected {background-color: $color_base}	
}


// ------  LINE with SMALL MISSIONS --------

.day-line {
	position: relative;
	width: (100% - $odznaki_left - $odznaki_right);
	height: $day_height;
	margin-left: $odznaki_left;
	margin-top: $day_margin;
	margin-right: $odznaki_right;
	text-align: center;	

	ul{
		margin-top: 12px;
		display: inline-block;
	}

	ul.small-mission-undone {
		float:left;
		li.circle-small {background-color: $color-undone;	}
	}

	ul.small-mission-wait {
		li.circle-small {background-color: $color-wait;}
	}

	ul.small-mission-done {	
		float:right;
		li.circle-small {background-color: $color-done;}
	}
}

// trick to draw the horizontal line 
.day-line:after {
    content:"";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width:100%;
    height: 50%;

}

.kid .day-line:after {
    border-bottom: 5px solid $color_light_grey;	
}

.parent .day-line:after {
    border-bottom: 5px solid $color_dark_grey;	
}


//----- DAY DETAILS --------

.day-details {
	width: 100%-$odznaki_left;
	position: relative;
	margin-left: $odznaki_left;
	border-radius: 5px;
	text-align: left;
}

ul.mission-neutral {
	li {border-color: $color_base};
	.star {fill: $color_base}
}
ul.mission-undone {
	li {border-color: $color_undone};
	.star {fill: $color_undone}
}
ul.mission-wait {
	li {border-color: $color_wait};
	.star {fill: $color_wait}
}
ul.mission-done {
	li {border-color: $color_done};
	.star {fill: $color_done}
}

.kid .day-details {
	background: $color_alert;
}

.parent .day-details {
	background-color: $color_light_grey;
}

// -------   FILTER  ----------

//@import '_zmienne';

.filter{
	position:relative;
	width: (100% - $odznaki_left - $odznaki_right);
	margin: 0px $odznaki_right -1*$day_margin $odznaki_left;
	text-align: left;

	//styles for all buttons
	button{
		position: relative;
		display: inline-block;
		height: $filter_height;
		width: $filter_button_width;
		padding-left: 10px;
		border-radius: 0px;
		border-width: 2px;
		border-style: solid;
		background-size: 0.8*$filter_height;
		background-position: left 20% center;
		background-repeat: no-repeat;
	}
	//styles for specific buttons
	.show-all {
	 	background-image: url(../assets/all_missions.svg);	
	 	border-color: $color_base;
	 	border-top-left-radius: 5.0rem;
	 	border-bottom-left-radius: 5.0rem;
		span{background-color: $color_base;}
		&:hover{background-color: rgba($color_base,0.3);}
	}
	.show-all.selected{
		background-color: $color_base;
	}

	.show-undone {
		border-color: $color_undone;
		background-image: url(../assets/dislike.svg);	
		span{background-color: $color_undone;}
		&:hover{background-color: rgba($color_undone,0.3);}
	}
	.show-undone.selected{background-color: $color_undone;}

	.show-wait {
		border-color: $color_wait;
		background-image: url(../assets/hourglass.svg);	
		span{background-color: $color_wait;}
		&:hover{background-color: rgba($color_wait,0.3);}
	}
	.show-wait.selected{background-color: $color_wait;}

	.show-done {
		border-color: $color_done;
		background-image: url(../assets/like.svg);	
		border-top-right-radius: 5.0rem;
	 	border-bottom-right-radius: 5.0rem;
		span{background-color: $color_done;}
		&:hover{background-color: rgba($color_done,0.3);}
	}
	.show-done.selected{background-color: $color_done;}

	//circle with number of missions
	span{
		position: absolute;
		right: 20%;
		bottom: 11px;
		height: $mission_small_size+0.5rem;
		width: $mission_small_size+0.5rem;

		color: $color_text_kid;
		border-radius: $mission_small_size;
		font: $font_mid_size $font_reg_family;
		line-height: $mission_small_size;
	}
	// hero img 
	img.hero{
		height: 250px;
		position: absolute;
		left: -15%;
		bottom: 50px;
		z-index: 500;
	}
}

.parent .filter{
	button{background-color: $color_back_parent;}
	img.hero {display:none;}
}

.kid .filter{
	button{background-color: $color_back_kid;}
}



