//-------- PROGRESS BAR ----------

//@import '_zmienne';

.progress {
	position: relative;
	height: $progressbar_height;
	width: (100% - $odznaki_left - $odznaki_right);
	margin: 10px $odznaki_right 0px $odznaki_left;

	.progress-undone {
		position: absolute;
		left:0px;
		top:0px;
		width: 100%;
		height: $progressbar_height;
		// border-radius: $border_radius 0px 0px $border_radius;
		border-radius: $border_radius;
	}

	.progress-wait {
		position: absolute;
		left:0px;
		top:0px;
		height: $progressbar_height;
		// border-radius: $border_radius 0px 0px $border_radius;
		border-radius: $border_radius;
	}

	.progress-done {
		position: absolute;
		left:0px;
		top:0px;
		height: $progressbar_height;
		// border-radius: $border_radius 0px 0px $border_radius;
		border-radius: $border_radius;
		background-color: $color_base;
	}

	.logo {
		position: absolute;
		right: -5px;
		top:  - ($progress_logo_size - $progressbar_height )/2;
		width: $progress_logo_size;
		height: $progress_logo_size;
	}

	p{
		position: absolute;
		left: -$odznaki_left;
		padding-left: 1%;
		font: $font_big_size $font_reg_family; 
		color:$color_text_parent;
	}

}

.parent .progress {
	.progress-wait{
		background: repeating-linear-gradient(
		45deg,
		$color_base,
		$color_base 10px,
		$color_dark_grey 10px,
		$color_dark_grey 20px
		);
	}

	.progress-undone {background-color: $color_dark_grey;}
}

.kid .progress{
	.progress-wait{
		background: repeating-linear-gradient(
		45deg,
		$color_base,
		$color_base 10px,
		$color_alert 10px,
		$color_alert 20px
		);
	}
	.progress-undone {background-color: $color_alert;}
}

// HISTORY

.history {
	background-color: $color_light_grey;
	&:hover{background-color: darken($color_light_grey,20%);}
	padding-bottom: 2.0rem;
	.week {margin-bottom: 0px;}
	cursor: pointer;
}