.edit{
		position:absolute;
		display: block;
		top: 0px;
		left: 0px;
		width: 100%;
		//height: 100vh;
		padding-top:0px;
		color:$color_text_parent;
		background-color: rgba($color_light_grey,0.95);
		font: $font_big_size $font_reg_family;
		text-align: center;
		vertical-align:middle;
		line-height: 10.0rem;
		
		//z-index: 499;
				//X button closing page
		span.X, span.showMore {
			position: absolute;
			display: block;
			right: 2.0rem;
			top: 1.0rem;
			width: $exit_button_size;
			height: $exit_button_size;
			z-index: 100;

			border-radius: $exit_button_size;
			background-color: $color_base;
			color: $color_text_kid;
			text-align: center;
			vertical-align:middle;
			line-height: $exit_button_size;
			cursor: pointer;
		}
		span.X{
			top: 1.0 rem;
		}
		span.showMore {
			top: 0.5*$mission_mid_size;
		}
		ul {
			position:relative;
			height: $mission_mid_size+9.0rem;
			overflow:hidden;
			padding-right: 6.0rem;
			li {margin-bottom: 8.0rem;}
		}
		
		h2 {
			font: $font_mid_size $font_reg_family;
			padding: 20px;
			background-color: rgba(darken($color_light_grey,10%),0.5);
		}
		
		.info {
			width: 80%;
			margin: auto;
			font: $font_big_size $font_reg_family;
			line-height: 1.5*$font_big_size;
			margin-top: 6.0rem;
			background: none;
		}

		.newMissionForm{	
			


			input[type="radio"] { display: none;}
			input[type="checkbox"] { display: none;}

			input[name='newMissionDays'] {

				& + label{
					display: inline-block;
					width: (74%/7);
					margin-top: 4.0rem;
					margin-left: 0.5%;
					margin-right: 0.5%;
					height: $input_height;
					border: 2px solid $color_base;
					border-radius: $border_radius;
					color:$color_dark_grey;
					font: $font_mid_size $font_reg_family;
					cursor: pointer;
					text-align: center;
					line-height: $input_height;
				}

				&:checked + label {
					background-color:$color_base;
					color: white	
				}
			}
		}
	}