//colors definition
$color_base:#008aff; // base color, neutral for missions
$color_base2: #C0392B; // second base color (logo etc.)
$color_back_kid: #0C1A3F; // background for kids 
$color_back_parent: #E4E4E4; // background for parents
$color_dark_grey: #777B88; // darker than back_parent
$color_light_grey: #F5F5F5; // lighter than back_parent
$color_done: #45BE23; // green
//#E31E10
$color_wait: #FDB524; // yellow
//#F29C0B
$color_undone: #FF4040; //red
$color_text_parent: #343F4B; //very dark grey
$color_text_kid: white; 
$color_alert: rgba(mix($color_back_kid,$color_dark_grey,50%),0.95);

//font definition
@font-face {
    font-family: IntroRustH1-Base;
    src: url(../assets/IntroRustH1-Base.otf);
}

$font_title_family: 'IntroRustH1-Base', cursive;
$font_title_size: 9.0rem;

$font_reg_family: 'Lato', sans_serif;
$font_big_size: 4.0rem;
$font_mid_size: 3.2rem;
$font_small_size: 2.4rem;
$font_mini_size: 2.0rem;

$border_radius: 2.0rem;
// sizes

	//header
	$header_height: 15.0rem;
	$header_logo_size: 15.0rem;
	$header_logo_position: 1.0rem;
	$header_banner_height: 9.5rem;
	$header_hamburger_size: 6.0rem;

	//missions
	$mission_big_size: 20.0rem;
	$mission_mid_size: 15.0rem;	
	$mission_small_size: 5.0rem;

	//buttons
	$exit_button_size: 8.0rem;
	$button_width: 80%;
	
	//form inputs
	$input_width : 80%;
	$input_height: 10.0rem;



	//odznaki screen
	$odznaki_left: 18%;  //screen division proportion
	$odznaki_right: 3%;

	$day_height: 9.0rem;
	$day_margin: 3.5rem;
	
	$filter_height: 8.0rem;
	$filter_button_width: calc(25% - 2px);
	
	//progressbar
	$bohater_size: 35.0rem;
	$progressbar_width: 75%;
	$progressbar_height: 5.0rem;
	$progress_logo_size: 8.5rem;

