
@import '_zmienne';

@import 'reset';


body.kid{background-color: $color_back_kid;}
body.parent{background-color: $color_back_parent;}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
	color:inherit;
	font: $font_mid_size $font_reg_family;
}
.parent a {
	color: $color_text_parent;
}

.kid a {
	color: $color_text_kid;
}

@import '_index';	

@import '_header';

@import '_circles';

@import '_dziecko_menu';
@import '_dziecko_misje';

@import '_postepy_odznaki';
@import '_progress_bar';

@import '_rodzic_misje';



// FORMS



input {
	height: $input_height;
	font: $font_mid_size $font_reg_family;
	line-height: $input_height;
	vertical-align: middle;
	border: 2px solid $color_base;
	text-align: center;
}

input[type='text'],input[type='password']{
	display:block;
	width: $input_width;
	margin: 50px auto;
	padding: 20px;
	border-radius: 20px;
}

input[type='number']{
	display:inline-block;
	width: $input_width/2;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

// + and - buttons for input type number
span.less, span.more {
	display:inline-block;
	width:$input_width/4;
	height: $input_height;
	font: 70px $font_reg_family;
	vertical-align: middle;
	line-height: $input_height;
	color: white;		
	border: 2px solid $color_base;
	background-color: $color_base;	
	cursor: pointer;
}
span.less {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;			
}
span.more {
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;			
}

// standard buttons
button{
	background-color: $color_base;
	color:white;
	padding: 30px;
	width: $button_width;
	margin: 50px auto;
	font: $font_big_size $font_reg_family;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	&:disabled{
		background-color: $color_dark_grey;
	}
	&:hover{
		background-color: darken($color_base,20%);	
	}
}


input[type=checkbox] {
	margin-top: 10px;
	margin-right: 30px;
	position: relative;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border: 2px solid $color_base;

	& + label {
		position: relative;
		display: inline-block;
		text-align: left;
		font: $font_mid_size $font_reg_family;	
		width: 70%;
		vertical-align: bottom;			
	}
}

.parent label{
	color: $color_text_parent;
} 

.kid label{
	color: $color_text_kid;
} 


//----- CONTAINER AND ALERT --------

.container {
	position: relative;
	width: 100%;
	top: $header_height;
	left: 0px;
	text-align: center;

	//alert on whole page
	.alert{
		position:fixed;
		display: block;
		top: $header_height;
		left: 0px;
		width: 100%;
		height: 100vh;

		color:$color_text_kid;
		font: $font_big_size $font_reg_family;
		text-align: center;
		line-height: 100px;
		vertical-align:middle;
		z-index: 499;
		
		p{
			margin-top: 40vh;
		}
		//X button closing page
		span {
			position: absolute;
			display: block;
			right: 20px;
			top: 20px;
			width: $exit_button_size;
			height: $exit_button_size;

			border-radius: $exit_button_size;
			background-color: $color_base;
			color: $color_text_kid;
			text-align: center;
			vertical-align:middle;
			line-height: $exit_button_size;
			cursor: pointer;
		}

		img {
			width: $mission_mid_size;
			height: $mission_mid_size;
			-webkit-animation:spin 4s linear infinite;
	    	-moz-animation:spin 4s linear infinite;
	    	animation:spin 4s linear infinite;
			@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
			@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
			@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
		}
	}

	
}

.parent .alert{
	background-color: rgba($color_dark_grey,0.95);
}

.kid .alert{
	background-color: rgba($color_alert,0.95);
}









