
@import '_zmienne';

@import 'reset';

body {
	background-color: $color_back_kid;
}

header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: $header_height;
	z-index: 1000;
	background-color: $color_back_kid;
	
	.logo {
		position: fixed;
		top: ( $header_height - $header_logo_size )/2;
		left: ( $header_height - $header_logo_size )/2;
		width: $header_logo_size;
		height: $header_logo_size;
		border-radius: $header_logo_size;
		border-color: white;
		border-width: 5px;
		border-style: solid;
		background-color: $color_base;
		color: white;
		font: $font_title_size $font_title_family;
		text-align: center;
		cursor: pointer;
		line-height: $header_logo_size;
	}

	.header-banner {
		position: fixed;
		top: ($header_height - $header_banner_height)/2;
		left: 0px;
		width: 100%;
		height: $header_banner_height;
		font: $font_title_size $font_title_family;
		text-align: center;
		line-height: $header_banner_height;
		vertical-align: middle;
	}

	.header-parent {
		background-color: white;
		color: $color_base;
	}

	.header-kid {
		background-color: $color_base;
		color: white;
	}

	.navigation {
		position: absolute;
		clip: rect(0, 0, 0, 0);	
	}

	label[for="navigation"] {
	  position: fixed;
	  right: ( $header_height - $header_hamburger_size ) / 2;
	  top:  ( $header_height - $header_hamburger_size ) / 2;
	  height: $header_hamburger_size;
	  width: $header_hamburger_size;
	  cursor: pointer;
	  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
	  background-size: contain;
	  z-index: 999;
	}
}

.container {
	position: relative;
	width: 100%;
	top: $header_height;
	left: 0px;

	.alert{
		position:fixed;
		display: block;
		top: 150px;
		left: 0px;
		width: 100%;
		height: 100vh;
		background-color: rgba($color_alert,0.95);
		color:$color_text_kid;
		font: $font_big_size $font_reg_family;
		text-align: center;
		vertical-align:middle;
		line-height: 100vh;
		z-index: 499;

		span {
			position: absolute;
			display: block;
			right: 20px;
			top: 20px;
			width: $exit_button_size;
			height: $exit_button_size;
			border-radius: $exit_button_size;
			background-color: $color_base;
			color: $color_text_kid;
			text-align: center;
			vertical-align:middle;
			line-height: $exit_button_size;
			cursor: pointer;
		}

		img {
		position:absolute;
		margin:auto;
		top:50px;
		width: $mission_mid_size;
		height: $mission_mid_size;
		-webkit-animation:spin 4s linear infinite;
    	-moz-animation:spin 4s linear infinite;
    	animation:spin 4s linear infinite;
		}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
		
	}
}

.week {
	position: relative;
	margin: 10px 0px 30px 0px;
	width: 100%;
	text-align: center;
	color: $color_text_kid;
	font: $font_big_size $font_reg_family; 

	p{ display: inline-block;}
	span{
		display: inline-block;
		width: 1.5*$mission_small_size;
		height: 1.5*$mission_small_size;
		border-radius: $mission_small_size;
		background-color: $color_base;
		color: white;
		margin: 0px 10%;
		line-height: 1.5*$mission_small_size;
		cursor: pointer;
	}
}

.progress {
	position: relative;
	padding-left: $odznaki_left;
	width: 100%;
	text-align: center;
	font: $font_mid_size $font_reg_family; 
	color: $color_text_kid;

	.progress-bar {
		position: relative;
		//left:2%;
		margin-top: 10px;
		height: $progressbar_height;
		width: 100%;
		margin-bottom: 50px;

		.progress-undone {
			position: absolute;
			left:0px;
			top:0px;
			width: $progressbar_width;
			height: $progressbar_height;
			border-radius: 5px;
			background-color: $color_alert;
		}

		.progress-wait {
			position: absolute;
			left:0px;
			top:0px;
			width: 80%;
			height: $progressbar_height;
			border-radius: 5px;
			background: repeating-linear-gradient(
			  45deg,
			  $color_base,
			  $color_base 10px,
			  $color_alert 10px,
			  $color_alert 20px
			);
		}

		.progress-done {
			position: absolute;
			left:0px;
			top:0px;
			width: 60%;
			height: $progressbar_height;
			border-radius: 5px;
			background-color: $color_base;		
		}

		p{
			position: absolute;
			right: 10px;
			top: -20px;
			
		}
		// p{
		// 	position: absolute;
		// 	right: 20px;
		// 	top: 0px;
		// }

		.logo {
			position: absolute;
			left: ($progressbar_width - 2%);
			top:  - ($progress_logo_size / 2 - $progressbar_height / 2  + 5px);
			width: $progress_logo_size;
			height: $progress_logo_size;
			border-radius: $progress_logo_size;
			border-color: white;
			border-width: 5px;
			border-style: solid;
			background-color: $color_base;
			color: white;
			font: $font_big_size $font_title_family;
			text-align: center;
			line-height: $progress_logo_size;
		}


	}
	img.bohater{
		width: $odznaki_left;
		position: absolute;
		left: -$odznaki_left;
		bottom: -50px;
	}

}
	
.filter{
	position:relative;
	padding:10px;
	width: 100%-%odznaki_left;
	background-color: $color_alert;
	margin-left: $odznaki_left;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 5px;

	button{
		position:relative;
		display: inline-block;
		height:$day_height;
		width: $odznaki_left;
		border-radius: 50px;
		border-width: 2px;
		border-style: solid;
		font: $font_mid_size $font_reg_family;
		//text-align: center;
		color: $color_text_kid;
		line-height: $day_height;
		cursor: pointer;
		background-color: $color_back_kid;
		margin-left: 4%;
		//margin-right: 4%; 
		background-size: 0.8* $day_height;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.show-undone {
		border-color: $color_undone;
		background-image: url(../assets/dislike.svg);	
		// -webkit-transform: rotate(180deg);
  //   	-moz-transform: rotate(180deg);
  //   	-ms-transform: rotate(180deg);
  //   	-o-transform: rotate(180deg);
  //   	transform: rotate(180deg);
		span{background-color: $color_undone;}
	}
	.show-wait {border-color: $color_wait;
		background-image: url(../assets/hourglass.svg);	
		span{background-color: $color_wait;}
	}
	.show-done {border-color: $color_done;
		background-image: url(../assets/like.svg);	
		span{background-color: $color_done;}}
	.show-all {
		background-color: $color_base;
	 	background-image: url(../assets/filter.svg);	
	 	border-color: $color_base;
		span{background-color: $color_base;}}

	span{
		display: inline-block;
		position: absolute;
		right: -10px;
		top: -10px;
		color: $color_text_kid;
		height: $mission_small_size;
		width: $mission_small_size;
		border-radius: $mission_small_size;
		font: $font_small_size $font_reg_family;
		line-height: $mission_small_size;
	}


}

.one-day{
	height: $day_height;
	width: 100%;
	position: relative;
	width: 100% - $odznaki_left;
	margin-left: $odznaki_left;
	margin-top: $day_margin;

	// .day {
	// 	position:relative;
	// 	width: $odznaki_left;
	// 	height: 100%;
	// 	border-radius: 5px;
	// 	background-color: $color_base;
	// 	color: $color_text_kid;
	// 	font: $font_mid_size $font_reg_family;
	// 	text-align: center;
	// 	line-height: $day_height;
	// 	cursor: pointer;	


	//}

	.line {
		display: inline-block;
		position: relative;
		width: 100%;
		background-color: $color_light_grey;
		height: 5px;
		margin-top: $day_height / 2 - 2.5px;
		text-align: center;
	}


	.small-mission-undone {
		float:left;
		margin-top: -30px;
		display: inline-block;

		.circle-small {
			background-color: $color-undone;
		}
	}

	.small-mission-wait {
		margin-top: -30px;
		display: inline-block;

		.circle-small {
			background-color: $color-wait;
		}
	}

	.small-mission-done {	
		float:right;
		margin-top: -30px;
		display: inline-block;

		.circle-small {
			background-color: $color-done;
		}
	}
}


.day{
	position: absolute;
	left:-1.17* $odznaki_left;
	width: 1.17*$odznaki_left;
	height: $day_height;
	border-radius: 50px;
	background-color: $color_base;
	color: $color_text_kid;
	font: $font_mid_size $font_reg_family;
	text-align: center;
	line-height: $day_height;
	cursor: pointer;
	span{
		font: $font_small_size $font_reg_family;
		position: absolute;
		right: 10px;
		top: $day_height/2 - $font_small_size/2;
	}	
}

.one-full-day   {
	width: 100%-$odznaki_left;
	position: relative;
	margin-left: $odznaki_left;
	//padding-bottom: 20px;
	//padding-top: 20px;
	background: $color_alert;
	border-radius: 5px;
}

.circle-big{ 
	display: inline-block;
	height: $mission_big_size;
	width: $mission_big_size;
	border-radius: $mission_big_size;
	border-width: $mission_big_size/20;
	border-style: solid;
	background-color: white;
}

.circle-mid {
	display: inline-block;	
	height: $mission_mid_size;
	width: $mission_mid_size;
	border-radius: $mission_mid_size;
	border-width: $mission_mid_size/20;
	border-style: solid;
	border-color: inherit;
	background-color: white;
	//font: $font_small_size $font_reg_family;
	//line-height: $mission_mid_size;
	//text-align: center;
	margin: 20px;
	position: relative;
	cursor: pointer;

	img{
		position: absolute;
		margin: auto;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height:0.7*$mission_mid_size;
		width: 0.7*$mission_mid_size;
	}

	.add{
		margin-left:20px;
		margin-top: 20px;
		height:0.4*$mission_mid_size;
		width: 0.4*$mission_mid_size;
	}



	.thumb-down {
		height: $mission_mid_size;
		width: $mission_mid_size;
		border-radius: $mission_mid_size;
		color:$color_back_kid;
		padding:10px;
		background-color: $color_undone;
		//background: $color_back_kid url(../assets/thumb_down.svg) no-repeat center bottom;
		//background-size: ($mission_mid_size - 20px) ($mission_mid_size - 20px);
		position: absolute;
		top: -10px;
		left: -10px - $mission_mid_size - 40px ;
		z-index: 500;
	}

	.thumb-up {
		height: $mission_mid_size;
		width: $mission_mid_size;
		border-radius: $mission_mid_size;
		color:$color_back_kid;
		padding:10px;
		border-style: none;
		background-color: $color_done;
		//background: $color_back_kid url(../assets/thumb_up.svg) no-repeat center top;
		//background-size: ($mission_mid_size - 20px) ($mission_mid_size - 20px);
		position: absolute;
		top: -10px;
		left: -10px + $mission_mid_size + 40px ;
		z-index: 500;
	}	
}

.circle-small {
	display:inline-block;
	height: $mission_small_size;
	width: $mission_small_size;
	border-radius: $mission_small_size;
	margin: 10px;
}

.mission-neutral {
	border-color: $color_base;
}
.mission-undone {
	border-color: $color_undone;
}
.mission-wait {
	border-color: $color_wait;
}
.mission-done {
	border-color: $color_done;
}


	.rotate{
		-moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }