

@import '_zmienne';

@import 'reset';

body.kid{background-color: $color_back_kid}
//body.kid{background: $color_back_kid url(../assets/back_circles.svg) top center no-repeat; background-size: 100%;}
body.parent{background-color: $color_back_parent;}

html {
	font-size: 62.5%;
	font-family: $font_reg_family;
}

a {
	text-decoration: none;
	color:inherit;
	font: $font_mid_size $font_reg_family;
}
.parent a {
	color: $color_text_parent;
}

.kid a {
	color: $color_text_kid;
}

@import '_index';	

@import '_header';

@import '_circles';

@import '_dziecko_menu';
@import '_dziecko_misje';

@import '_postepy_odznaki';
@import '_progress_bar';

@import '_rodzic_misje';

@import '_background';

// FORMS


form {
	p{
		font: $font_mid_size $font_reg_family;
		margin-top: 4.0rem;
		color: $color_text_parent;
	}
	margin: 0px;
	padding: 0px;

}

input {
	height: $input_height;
	font: $font_mid_size $font_reg_family;
	line-height: $input_height;
	vertical-align: middle;
	border: 2px solid $color_base;
	text-align: center;
}

input[type='text'],input[type='password']{
	display:block;
	width: $input_width;
	margin: 5.0rem auto;
	padding: 2.0rem;
	border-radius: 2.0rem;
}

input[type='number']{
	display:inline-block;
	width: $input_width/2;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button.left, button.right {
	width: $input_width/2;
	background: none;
	border-radius: 0;
	border: 2px solid $color_base;
	&:hover{background-color: $color_base;color: white;}
	color: $color_text_parent;
}
button.left {
	border-top-left-radius: $border_radius;
	border-bottom-left-radius: $border_radius;
	border-right: none;
}

button.right {
	border-top-right-radius: $border_radius;
	border-bottom-right-radius: $border_radius;
}

// + and - buttons for input type number
span.less, span.more {
	display:inline-block;
	width:$input_width/4;
	height: $input_height;
	font: 7.0rem $font_reg_family;
	vertical-align: middle;
	line-height: $input_height;
	color: white;		
	border: 2px solid $color_base;
	background-color: $color_base;	
	cursor: pointer;
}
span.less {
	border-bottom-left-radius: $border_radius;
	border-top-left-radius: $border_radius;			
}
span.more {
	border-bottom-right-radius: $border_radius;
	border-top-right-radius: $border_radius;			
}

// standard buttons
button{
	background-color: $color_base;
	color:white;
	padding: 3.0rem;
	width: $button_width;
	margin: 5.0rem auto;
	font: $font_big_size $font_reg_family;
	text-align: center;
	border-radius: $border_radius;
	cursor: pointer;
	&:disabled{
		background-color: $color_dark_grey;
	}
	&:hover{
		background-color: darken($color_base,20%);	
	}
}


input[type=checkbox] {
	margin-top: 1.0rem;
	margin-right: 3.0rem;
	position: relative;
	cursor: pointer;
	width: 4.0rem;
	height: 4.0rem;
	border: 2px solid $color_base;

	& + label {
		position: relative;
		display: inline-block;
		text-align: left;
		font: $font_mid_size $font_reg_family;	
		width: 70%;
		vertical-align: bottom;			
	}
}

.parent label{
	color: $color_text_parent;
} 

.kid label{
	color: $color_text_kid;
} 


//----- CONTAINER AND ALERT --------

.container {
	position: relative;
	width: 100%;
	top: $header_height;
	left: 0px;
	text-align: center;
	z-index:2;

	//alert on whole page
	.alert{
		position:fixed;
		display: block;
		top: $header_height;
		left: 0px;
		width: 100%;
		height: 100vh;

		color:$color_text_kid;
		font: $font_big_size $font_reg_family;
		text-align: center;
		line-height: 100px;
		vertical-align:middle;
		z-index: 499;
		
		p{
			margin-top: 40vh;
		}
		//X button closing page
		span {
			position: absolute;
			display: block;
			right: 2.0rem;
			top: 2.0rem;
			width: $exit_button_size;
			height: $exit_button_size;

			border-radius: $exit_button_size;
			background-color: $color_base;
			color: $color_text_kid;
			text-align: center;
			vertical-align:middle;
			line-height: $exit_button_size;
			cursor: pointer;
		}

		img {
			width: $mission_mid_size;
			height: $mission_mid_size;
			-webkit-animation:spin 4s linear infinite;
	    	-moz-animation:spin 4s linear infinite;
	    	animation:spin 4s linear infinite;
			@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
			@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
			@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
		}
	}

	
}

.parent .alert{
	background-color: rgba($color_dark_grey,0.95);
}

.kid .alert{
	background-color: rgba($color_alert,0.95);
}



//bouncing class
.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }


	

.gradient {
    background-color: #d91101;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjAlIiByPSIyMDkuNCUiPjxzdG9wIHN0b3AtY29sb3I9IiNlYzA1MDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjM2NCIvPjxzdG9wIHN0b3AtY29sb3I9IiNjZTE4MDIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjM3Ii8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(radial, 0 0, 0, 0 0, 80vw,color-stop(0.499, rgb(236, 5, 0)),color-stop(0.50, rgb(206, 24, 2)));
    /* Android 2.3 */
    background-image: -webkit-radial-gradient(0 -10%, 80% 80%,rgb(236, 5, 0) 49.9%,white 50%, rgb(206, 24, 2) 50.2%);
    /* IE10+ */
    background-image: radial-gradient(circle 40vw at 18vw -2vw,rgb(236, 5, 0) 50%,lighten(rgb(236, 5, 0),5%) 59%, darken(rgb(206, 24, 2),3%) 59.5%,rgb(206, 24, 2) 70%);
    background-image: -ms-radial-gradient(0px 0px, 80vw 80vw,rgb(236, 5, 0) 49.9%,rgb(206, 24, 2) 50%);

    border: 2px white solid;
	//box-shadow: inset 0 0 10px white;
    border-radius: 30px;
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffec0500",endColorstr="#ffce1802",GradientType=0);
    }
}

.rotate {

	animation:spin 5s linear 1;
}


