
section, footer, header {
	border: 5px solid black;
}

section {
	margin: 20px 0;
}

main {
	position: relative;
}

header {
	background-color: grey;
}

.left {
	width: 1000px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: yellow;
}

.right {
	width: 600px;
	position: absolute;
	left: 1050px;
	top: 0px;
	background-color: green;
}

footer {
	background-color: blue;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}