
html {
	background-color: black;
}

body {
	width: 60%;
	margin: auto;
	background-color: white;
	padding: 20px;
	background-image: url(grafika/oscar_tlo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

article p {
	background-color: #e8e3c5;
	width:70%;
	margin-left: 40px;
	border: 1px black solid;
	padding: 10px;
	box-shadow: 5px 5px 5px #4f4638;
	column-width: 300px;
	column-count: 2;
	column-rule: 1px solid black;
}

article h2 {
	margin-left: 20px;
	font-size: 24px;
	border-bottom: 1px solid black;

}

a:hover {
	color:red;
}

header h1 {
	color: gold;
	background-image: url(grafika/oscar.jpg);
	background-size: contain;
	margin-left:40px;
	width: 80%;
	text-align: center;
	padding: 40px;
	font-size: 48px;
	text-transform: uppercase;
	text-shadow: 5px 5px 5px #4f4638;
	box-shadow: 5px 5px 5px #4f4638;
}


