* {
	/*border: 1px black solid;*/
}

p {
	color:gray;
}

body {
	width: 80%;
	margin: auto;
}

.left {
	float: left;
	width: 58%;	
}

.right {
	float: right;
	width: 38%;
}

.right img {
	width: 100%;
}

footer {
	clear: both;
	background-color: #D4A46A;
}

aside {
	height: 200px;
}

header li {
	display: inline;
	font-size: 24px;
	padding: 0 20px;
}

header {
	background-color: #D4A46A;
	text-align: center;
}

aside img {
	height: 200px;
	float: right;
}

li {
	list-style-type: square;
}