body {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: "header header" 
						 "gallery content"
						 "footer footer";
}

header {
	grid-area: header;
}

main {
	grid-area: content;
}

aside {
	grid-area: gallery;
}

footer { 
	grid-area: footer;
 }

 * {
 	outline: 1px black solid;
 }

 @media (max-width: 800px) {
 	body { 
 		grid-template-areas: "header" 
						 "content"
						 "gallery"
						 "footer";
 	 }
 }