@import url('reset.css');
@import url('ramka.css');

* {
    /*box-sizing: border-box;*/
}

html {
  font-family: 'Playfair Display', serif;
    font-size: 62.5%;
    color: #48504e;
    background: #ffc107 url(assets/tlo.jpg) fixed no-repeat;
    background-size: contain;
}


.orange { color: #ffc107;}
.grey { color: #48504e;}
.light_grey {color: #d4d4d3;}


h1 {
    font-size: 3.7rem;
    background-color: rgba(255,255,255,0.9);
    padding: 3.5rem;
    margin:4.0rem;
    display:inline-block;
    border-top-left-radius: 2.0rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 3.1rem;
}

h2, h3 {
    color: #fff;
    background-color: #48504e;
    padding: 1.5rem;
    display:inline-block;
}

strong {
    font-weight: bold;
}

em {
    background-color: rgba(255,255,255,0.8);
}
p {
    font-size: 1.8rem;
    line-height: 1.55;
}

footer p {
    font-size: 1.4rem;
}

.summary {
    font-size: 2.4rem;
    font-style: italic;

}

ul {
    font-size: 2.3rem;
    line-height: 1.75;
}

header {
    display: none; 
    background: #48504e;
    color: #fff;
    height: 30rem;
    padding: 10rem; 
    
}

.hoverme:hover header {
    display: block; 
}
    

nav {
    float:right;
}

nav li {
    text-align: right;
    background: url(assets/strzalka.svg) right no-repeat;
    padding-right: 4rem;
    line-height: 1.5rem;
    margin: 3rem;
}


form {
    float: left;
    width: 35rem;
    
}
input, textarea {
    width: 35rem;
    background: none;
    border: 2px #d4d4d3 solid;
    margin:0.5rem;
    padding: 1rem;
    color: #fff;
    font-size: 1.7rem;
}

button {
    background: #ffc107;
    border: none;
    padding: 2rem 6rem;
    font-size: 1.5rem;
    font-weight: bold;
    float: right;
    cursor: pointer;
    margin-top: -1.5rem;
    margin-right: -3rem;
}

h4 {
    font-size: 2rem;
    padding: 2rem 1rem;
}
 
.dot {
    width: 1rem;
    height: 1rem;
    background-color: #48504e;
    margin:3rem auto;
    border-radius: 2rem;
}

.przekreslenie {
    text-decoration: line-through;
}

.button-more {
    display: inline-block;
    border:1px dashed #48504e;
    font-size: 3rem;
    padding: 1rem 1.5rem;
    text-decoration: none; 
    color: #48504e;
    position: absolute;
    right:0;
}

.menu {
    background: url('assets/menu.svg') center no-repeat;
    height: 3.2rem;
    width: 3.2rem;
    margin: 1rem;
    position: fixed;
    right: 0;
    background-color: white;
    padding: 1rem;
    z-index: 9999;
    
}

footer {
    position: fixed;
    bottom:0;
    right: 0;
    padding: 1rem;
    background-color: white;
    z-index: 6;
    
}
section {
    
    width:50%;
    min-width: 600px;
    max-width: 850px;
    position: absolute;
    right: 5%;
}

article {
    margin-bottom: 6rem;
}
hgroup {
    margin-left: -25%;
    position: relative;
    display:inline-block;
}
h3 {
    position: absolute;
    right: 0;
    bottom: 5%;
}

figure{
    margin-left: -25%;
    float:left;
    margin-top: 20%;
}

.tekst {
    padding-top: 4rem;
    column-count: 2;
}

@media all and (max-width:1280px) {
    html {
        background: #ffc107;
    }
    section {
        width: 75%;
    }
    .bg {
        background: #ffc107 url(assets/bg.jpg) fixed no-repeat;
        background-size: cover;
        height:30rem;
    }
}
@media all and (max-width: 768px) {
    
hgroup {
    margin-left: 0;
}
    
figure{
    display:none;
}
    
section {
    
    width:90%;
    min-width: 300px;
    max-width: 850px;
    position: absolute;
    right: 5%;
}

    .tekst {
    column-count: 1;
}
} 
#logo {
    padding: 10px;
    
}