.company {
    padding: 0px;
    display: flex;

    @include breakpoint(1399px) {
        flex-direction: column;
    }

    &__benefits {
        flex-shrink: 0;
        padding: 48px;
        padding-top: 80px;
        padding-bottom: 44px;
        background-image: url(../images/2909b.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint(1400px, up) {
            width: 50%;
        }
        @include breakpoint(1399px) {
            width: 100%;
            margin-top: 24px;
        }
        @include breakpoint(999px) {
            padding: 24px 6px;
        }
    }
    &__benefit {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8) !important;

        height: 150px;
    }
    &__figure {
        display: block;
        margin-bottom: 8px;
    }
    &__text {
        font-size: 20px;
        line-height: 1.4;
        @include breakpoint(550px) {
            font-size: 16px;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 48px;

        @include breakpoint(749px) {
            padding: 24px;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 48px;

        @include breakpoint(550px) {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }

    &__name {
        font-size: 36px;
        line-height: 1.4;
        @include breakpoint(550px) {
            display: none;
        }
    }

    &__owner {
        flex-shrink: 0;
        margin-bottom: 8px;
        border-left: 1px solid #000;
        padding-left: 24px;
        margin-left: 24px;

        @include breakpoint(550px) {
            margin-left: 0px;
            border-left: none;
        }

        &--name {
            font-size: 24px;
            line-height: 1.4;
            font-weight: 600;
        }

        &--info {
            font-size: 20px;
        }
    }
}
